testresources
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
-f https://data.pyg.org/whl/torch-1.11.0+cu115.html
torch==1.11.0
pandas
requests
rdkit
tqdm
seaborn
scipy
jupyter
hiplot
ogb
scikit-learn
